
.overflow-menu .circle {
  background: #ffffff;
  border-radius: 50%;
  float: right;
  height: 24px;
  text-align: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 24px;
}
.overflow-menu .circle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.overflow-menu .vertical-ellipsis {
  color: #000;
  cursor: pointer;
  font-size: 24px;
  position: relative;
}
.overflow-menu .ui-dialog {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: default;
  outline: 0;
  padding-bottom: 8px;
  padding-top: 8px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  white-space: nowrap;
}
.overflow-menu .ui-dialog .ui-dialog-titlebar {
  display: none;
}
.overflow-menu .pop-up-menu-list-items {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 15px;
  list-style-type: none;
  padding-left: 0;
}
.overflow-menu .pop-up-menu-list-items li {
  margin-bottom: 0;
}
.overflow-menu .pop-up-menu-list-item {
  cursor: pointer;
  margin-bottom: 0;
  padding: 7px 48px 7px 24px;
}
.overflow-menu .pop-up-menu-list-item:hover {
  background-color: #eeeeee;
}
.overflow-menu .pop-up-menu-list-item-link {
  color: inherit;
  cursor: pointer;
  display: block;
  margin-bottom: 0;
  outline: 0;
  padding: 7px 48px 7px 24px;
  text-decoration: none;
}
.overflow-menu .pop-up-menu-list-item-link:hover {
  background-color: #eeeeee;
}
.overflow-menu .pop-up-dialog {
  display: none;
}
.overflow-menu .ui-front {
  z-index: 100;
}
.article {
  padding-bottom: 15px;
  padding-top: 15px;
}
.article .poster {
  float: left;
  margin-right: 10px;
}
.lister-item {
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.lister-item:last-child {
  margin-bottom: 0;
}
.lister-list .lister-item .gradient-container {
  bottom: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  width: 100%;
}
.lister-list .lister-item:nth-child(odd) {
  background: #f6f6f5;
}
.lister-list .lister-item:nth-child(odd) .gradient-container {
  background: -webkit-linear-gradient(rgba(246, 246, 245, 0), #f6f6f5);
  background: linear-gradient(rgba(246, 246, 245, 0), #f6f6f5);
}
.lister-list .lister-item:nth-child(even) {
  background: #fbfbfb;
}
.lister-list .lister-item:nth-child(even) .gradient-container {
  background: -webkit-linear-gradient(rgba(251, 251, 251, 0), #fbfbfb);
  background: linear-gradient(rgba(251, 251, 251, 0), #fbfbfb);
}
.review-item-image {
  display: inline-block;
  float: left;
  height: 150px;
  margin-right: 10px;
  width: 101px;
}
.imdb-user-review .review-container {
  padding-top: 15px;
}
.imdb-user-review.collapsable .review-container {
  max-height: 300px;
  overflow: hidden;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}
.imdb-user-review.with-spoiler .content {
  height: auto;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}
.imdb-user-review .spoiler-warning {
  color: red;
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 20px;
}
.imdb-user-review .spoiler-warning .spoiler-warning__control {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.imdb-user-review .ipl-icon-link {
  padding-top: 5px;
}
.imdb-user-review .ipl-ratings-bar {
  margin-bottom: 15px;
}
.imdb-user-review .ipl-ratings-bar .point-scale {
  color: #666666;
  font-size: 10px;
  letter-spacing: -1px;
}
.imdb-user-review .ipl-ratings-bar .ratings-imdb-replace {
  margin-right: 0;
}
.imdb-user-review .ipl-ratings-bar .rating-other-user-rating {
  margin-left: 0;
}
/* .imdb-user-review .ipl-ratings-bar .rating-other-user-rating .ipl-star-icon {
  fill: #ffc812;
} */
.imdb-user-review .ipl-ratings-bar .ratings-user-rating {
  margin-left: 0;
}
.imdb-user-review .ipl-ratings-bar .ratings-user-rating .user-rating-value {
  cursor: default;
}
.imdb-user-review .ipl-expander {
  display: inline-block;
  float: right;
}
.imdb-user-review .ipl-expander .expander-icon-wrapper {
  cursor: pointer;
  float: right;
  height: 35px;
  position: relative;
  width: 40px;
}
.imdb-user-review .ipl-expander .expander-icon {
  bottom: 0;
  cursor: pointer;
  height: 20px;
  left: 10px;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 12px;
}
.imdb-user-review .lister-item-header {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}
.imdb-user-review .episode-info {
  font-size: 13px;
}
.imdb-user-review .display-name-date {
  font-size: 11px;
  margin-bottom: 15px;
}
.imdb-user-review .display-name-date .display-name-link {
  display: inline-block;
  margin-right: 10px;
}
.imdb-user-review .display-name-date .review-date {
  display: inline-block;
  vertical-align: top;
}
.imdb-user-review.with-image .lister-item-content {
  display: inline-block;
  width: 475px;
}
.imdb-user-review .title {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.imdb-user-review .actions {
  display: inline;
  font-size: 11px;
  margin-top: 15px;
  min-height: 20px;
  padding-top: 10px;
}
.imdb-user-review .actions .copy-review-link {
  position: relative;
}
.imdb-user-review .actions .copy-review-link .link-copied-popup {
  background-color: #555555;
  border-radius: 6px;
  bottom: 15px;
  color: #ffffff;
  display: none;
  font-size: 12px;
  height: 12px;
  left: 0;
  line-height: 12px;
  padding: 5px;
  position: absolute;
  text-align: center;
}
.imdb-user-review .actions span {
  line-height: 30px;
  white-space: nowrap;
}
.imdb-user-review .gradient-expander {
  position: relative;
}
.imdb-user-review .gradient-expander .gradient-footer {
  height: 45px;
  margin-top: 10px;
}
.imdb-user-review .text {
  border-bottom: 1px solid #d1d1d1;
  line-height: 18px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.imdb-user-review .clickable {
  cursor: pointer;
}
.avatar-frame {
  border: 1px solid #ccc;
  float: left;
  height: 100px;
  margin-right: 13px;
  width: 100px;
}
.subpage_title_block.imdb-user-review h3 {
  font-size: 20px;
}
.lister > .header {
  background-color: #f6f6f5;
  background-image: -webkit-linear-gradient(bottom, #fff 15%, #f6f6f5 85%);
  background-image: linear-gradient(bottom, #fff 15%, #f6f6f5 85%);
  color: #666666;
  padding: 15px;
}
.lister > .header .sort-by-header {
  float: right;
}
.overflow-menu .circle {
  background: transparent;
}
.overflow-menu .circle:hover {
  background-color: transparent;
}
.overflow-menu .pop-up-menu-list-items {
  font-weight: normal;
}
.display-name-separator {
  margin-left: 8px;
  margin-right: 8px;
  vertical-align: top;
}
.display-name {
  display: inline-block;
  margin-bottom: 0;
}
.lister-controls {
  padding: 5px 0;
}
.lister-controls .lister-controls-group {
  display: inline-block;
  float: right;
  position: relative;
}
.lister-controls .lister-controls-group .lister-sort-direction {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.lister-controls .lister-controls-group select {
  background-color: #f8f8f8;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 24px;
  margin-right: 30px;
  padding: 2px 10px;
}
.lister-controls .lister-controls-group .lister-filter-by-select {
  margin-right: 15px;
}
.lister-filter-group {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: relative;
}
.lister-widget-sprite {
  background: url(/images/S/sash/rynCFk3E-JFrG8Q.png) no-repeat;
  display: inline-block;
  height: 23px;
  vertical-align: middle;
  width: 23px;
}
.lister-widget-sprite.lister-checkbox {
  background-position: 0 -162px;
  bottom: 0;
  height: 23px;
  position: absolute;
  top: 0;
  width: 23px;
}
.lister-widget-sprite.lister-sort-direction {
  cursor: pointer;
  float: right;
}
.lister-widget-sprite.lister-sort-direction.ascending {
  background-position: 0 -108px;
}
.lister-widget-sprite.lister-sort-direction.descending {
  background-position: 0 -135px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .lister-widget-sprite {
    background-image: url(/images/S/sash/w-cKoj8mTzV3ogq.png);
    background-size: 80px 553px;
  }
}
.faceter-facet {
  cursor: pointer;
  font-weight: normal;
}
.faceter-facet .faceter-facets-text {
  margin-left: 30px;
}
.faceter-facet input[type="checkbox"] {
  display: none;
}
.faceter-facet
  input[type="checkbox"]:checked
  + .lister-widget-sprite.lister-checkbox {
  background-position: 0 -189px;
}
.uc-add-wl-widget-container {
  display: inline-block;
  position: relative;
}
.uc-add-wl-widget-container .uc-add-wl-ribbon {
  background-image: url(/images/S/sash/732C-8zJzQ9xx1C.png);
  background-repeat: no-repeat;
  cursor: pointer;
  height: 38px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 38px;
  z-index: 5;
}
.uc-add-wl-widget-container .uc-add-wl-ribbon .uc-add-wl-pending-container {
  height: 30px;
  width: 38px;
}
.uc-add-wl-widget-container .uc-add-wl-ribbon.uc-add-wl--not-in-wl {
  background-position: -44px 0;
}
.uc-add-wl-widget-container .uc-add-wl-ribbon.uc-add-wl--not-in-wl:hover {
  background-position: -44px -42px;
}
.uc-add-wl-widget-container
  .uc-add-wl-ribbon.uc-add-wl--not-in-wl.uc-add-wl--pending {
  background-position: -86px 0;
}
.uc-add-wl-widget-container .uc-add-wl-ribbon.uc-add-wl--in-wl {
  background-position: -2px 0;
}
.uc-add-wl-widget-container .uc-add-wl-ribbon.uc-add-wl--in-wl:hover {
  background-position: -2px -42px;
}
.uc-add-wl-widget-container
  .uc-add-wl-ribbon.uc-add-wl--in-wl.uc-add-wl--pending {
  background-position: -86px 0;
}
.uc-add-wl-button {
  display: inline-block;
  position: relative;
}
.uc-add-wl-button.uc-add-wl--not-in-wl .uc-add-wl-button-icon--done {
  display: none;
}
.uc-add-wl-button.uc-add-wl--not-in-wl.uc-add-wl--pending
  .uc-add-wl-button-icon--add {
  visibility: hidden;
}
.uc-add-wl-button.uc-add-wl--in-wl .uc-add-wl-button-icon--add {
  display: none;
}
.uc-add-wl-button.uc-add-wl--in-wl.uc-add-wl--pending
  .uc-add-wl-button-icon--done {
  visibility: hidden;
}
.uc-add-wl.uc-add-wl--pending .uc-add-wl-pending-icon {
  display: block;
}
.uc-add-wl .uc-add-wl-pending-container {
  position: relative;
}
.uc-add-wl .uc-add-wl-pending-icon {
  background: url(/images/S/sash/VPO7nZEEVf68gfL.gif) no-repeat center center;
  bottom: 0;
  display: none;
  height: 13px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 13px;
}
